.pagination-container {
  float: right;
  margin-top: 10px;

  button {
    margin-left: 5px;
    border-radius: 5px;
    background: lightcyan;
    border: 1px solid aqua;
    padding: 4px 8px;
  }
}
