.user-list-container {
  .list-header {
    width: auto;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
