.search-container {
  margin-bottom: 5px;
  input {
    border: 1px solid rgb(214, 214, 214);
    padding: 4px;
    border-radius: 5px;
    font-size: 13px;
  }

  button {
    margin-left: 8px;
    padding: 4px 6px;
    border-radius: 5px;
    background: lightcyan;
    border: 1px solid aqua;
    color: #222;
  }
}
