.user-container {
  border-bottom: 1px solid aqua;
  display: flex;
  padding: 15px 10px;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 80px;
    border: 2px solid aqua;
    border-radius: 3rem;
  }

  .infos-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px 0 20px;

    & > div {
      display: flex;
      margin: 5px 0;
    }

    span {
      color: #222;
      margin-right: 10px;
    }
  }

  button {
    float: right;
    margin-bottom: 10px;
    border: none;
    background: none;
    color: rgb(209, 1, 1);
  }

  .regular {
    color: royalblue;
  }

  span {
    font-size: 14px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  a {
    color: black;
    text-transform: none;
    text-decoration: none;
    width: 80px;
    padding: 3px 0;
    border-radius: 8px;
    background: lightcyan;
    border: 1px solid aqua;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-left: 5px;
    }
  }
}
